<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibei.accountservice.dao.TAccountBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.baibei.accountservice.model.TAccountBalance" >
    <id column="account_balance_id" property="accountBalanceId" jdbcType="BIGINT" />
    <result column="balance_type" property="balanceType" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
     <result column="business_type" property="businessType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    account_balance_id, balance_type, amount, account_id, user_id, version, create_time,business_type,
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibei.accountservice.model.TAccountBalanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_account_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_account_balance
    where account_balance_id = #{accountBalanceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_account_balance
    where account_balance_id = #{accountBalanceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibei.accountservice.model.TAccountBalanceExample" >
    delete from t_account_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibei.accountservice.model.TAccountBalance" >
    insert into t_account_balance (account_balance_id, balance_type, amount, 
      account_id, user_id, version, 
      create_time, update_time,business_type)
    values (#{accountBalanceId,jdbcType=BIGINT}, #{balanceType,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{accountId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{businessType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baibei.accountservice.model.TAccountBalance" >
    insert into t_account_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountBalanceId != null" >
        account_balance_id,
      </if>
      <if test="balanceType != null" >
        balance_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountBalanceId != null" >
        #{accountBalanceId,jdbcType=BIGINT},
      </if>
      <if test="balanceType != null" >
        #{balanceType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibei.accountservice.model.TAccountBalanceExample" resultType="java.lang.Integer" >
    select count(*) from t_account_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_account_balance
    <set >
      <if test="record.accountBalanceId != null" >
        account_balance_id = #{record.accountBalanceId,jdbcType=BIGINT},
      </if>
      <if test="record.balanceType != null" >
        balance_type = #{record.balanceType,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_account_balance
    set account_balance_id = #{record.accountBalanceId,jdbcType=BIGINT},
      balance_type = #{record.balanceType,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      account_id = #{record.accountId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibei.accountservice.model.TAccountBalance" >
    update t_account_balance
    <set >
      <if test="balanceType != null" >
        balance_type = #{balanceType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where account_balance_id = #{accountBalanceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibei.accountservice.model.TAccountBalance" >
    update t_account_balance
    set balance_type = #{balanceType,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      account_id = #{accountId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where account_balance_id = #{accountBalanceId,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.baibei.accountservice.model.TAccountBalanceExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_account_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertBatch">
insert into t_account_balance (account_balance_id, balance_type, amount, 
      account_id, user_id, version, 
      create_time, update_time,business_type)
    values
<foreach collection="list" item="item" index="index" separator=",">
 (#{item.accountBalanceId,jdbcType=BIGINT}, #{item.balanceType,jdbcType=VARCHAR}, #{item.amount,jdbcType=BIGINT}, 
      #{item.accountId,jdbcType=BIGINT}, #{item.userId,jdbcType=VARCHAR}, #{item.version,jdbcType=BIGINT}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.businessType,jdbcType=VARCHAR})
</foreach>
</insert>
 <select id="sumAmount" resultType="java.lang.Long">
  	select sum(amount) from t_account_balance where 1=1
	    and user_id in (
	    <foreach collection="list" item="item" index="index" separator=",">
		  		#{item}
		 </foreach>)
	  <if test="balanceType != null" >
	   and balance_type = #{balanceType}
	  </if>
  </select>
</mapper>